.Header {
  width: 100%;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.nav-links {
  display: flex;
  gap: 43px;
  padding-right: 24px;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

