.app-header {
  background-color: #180902;
  border-bottom: 4px solid #c76a19;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Pushes items to opposite ends */
  align-items: center;
  position: relative;
  z-index: 1000;
}

.header-nav {
  position: relative;
}

.hamburger-button {
  width: 48px;
  height: 48px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  background-color: #f69c36;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #f69c36;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger-button.open .hamburger-inner {
  transform: rotate(45deg);
}

.hamburger-button.open .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger-button.open .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  background-color: #2a1002;
  border: 3px solid #c76a19;
  border-radius: 8px;
  min-width: 240px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  padding: 5px 0;
}

.dropdown-item {
  color: #f69c36;
  padding: 12px 20px;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  display: block;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #c76a19;
  color: #fff;
}

.user-profile-link {
  color: #f69c36;
  text-decoration: none;
  font-size: 24px; /* Adjust icon size */
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent; /* Placeholder for hover effect */
  transition: all 0.2s ease;
}

.user-profile-link:hover {
  background-color: #ffbf61;
  color: #2a1002;
  transform: translate(2px, 2px);
  border-color: #c76a19;
  box-shadow: -2px -2px 0px #180902;
}
