@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.Quizzes {
  width: 60vh;
  min-height: 130vh;
  color: #f69c36;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #a04b07;
  box-shadow: inset 0 0 10px #2c0d00;
}

.Progress {
  background: linear-gradient(180deg, #3a1602 0%, #2c0d00 100%);
  border: 2px solid #f69c36;
  width: 90%;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #c76a19;
  text-align: left;
}

.ProgressHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ProgressHeader img {
  width: 40px;
}

.Progress h1 {
  font-size: 10px;
  color: #ffbf61;
}

.Progress h2 {
  font-size: 8px;
  color: #c76a19;
}

.progress-label {
  font-size: 8px;
  margin-top: 10px;
  color: #ffbf61;
}

.ProgressBar {
  width: 100%;
  height: 8px;
  background: #3a1602;
  border: 1px solid #f69c36;
  border-radius: 4px;
  margin-top: 5px;
}

.ProgressFill {
  height: 100%;
  background: linear-gradient(90deg, #ffbf61, #c76a19);
  border-radius: 4px;
}

.progress-percent {
  text-align: right;
  font-size: 8px;
  color: #ffbf61;
}

.scroll-container {
  margin-top: 15px;
  background-color: rgba(58, 22, 2, 0.9);
  width: 90%;
  height: 70vh;
  overflow-y: auto;
  border: 2px solid #a04b07;
  border-radius: 8px;
  padding: 10px;
  box-shadow: inset 0 0 10px #2c0d00;
}

.QuizItem {
  background-color: #3a1602;
  border: 2px solid #f69c36;
  border-radius: 8px;
  margin: 10px 0;
  padding: 20px;
  color: #ffbf61;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 6px #a04b07;
  transition: all 0.3s;
}

.QuizItem:hover {
  background-color: #a04b07;
  transform: scale(1.03);
  box-shadow: 0 0 12px #ffbf61;
}

.QuizItem img {
  width: 32px;
  height: 32px;
}

.QuizItem h1 {
  font-size: 9px;
  padding-top: 2px;
}

.QuizItem p {
  font-size: 8px;
  color: #ffbf61;
}

.footer {
  background-color: #3a1602;
  border-top: 2px solid #f69c36;
  width: 95%;
  text-align: center;
  padding: 8px;
  margin-top: 50px;
}

.footer p {
  font-size: 12px;
  color: #ffbf61;
}
