.QuizDashboard {
  /* display: flex; */
  height: 100vh;
  font-family: "Press Start 2P", cursive;
  color: #f0e1c6;
  overflow: hidden;
  width: 100%;
  overflow-y: auto;
  top: 0;
  left: 0;
}

/* Split layout */
.dashboard-container2 {
  display: flex;
  width: 100%;
  height: 110vh;
  top: 0;
  left: 0;
}


.sidebar {
  width: 41%;
  min-width: 320px;
  background-color: rgba(59, 42, 26, 0.95);
  border-right: 4px solid #c6a87d;
  overflow-y: auto;
  box-shadow: inset 0 0 10px #2a1b0b;
  padding-left: 5px;
}

/* Right quiz area */
.quiz-content-area {
  width: 100%;
  background-color: rgba(43, 28, 19, 0.95);
  overflow-y: auto;
  border-left: 4px solid #c6a87d;
}

