.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.section {
    border: 4px solid #f69c36;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.4);
    width: 60%;
    color: #f69c36;
}

.section-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.pdf-item {
    padding: 10px;
    margin: 8px 0;
    color: #f69c36 !important;
    text-decoration: none !important;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.pdf-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pdf-item:hover {
    background-color: #7a3b00;
}