html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Press Start 2P', 'cursive';
  background-image: url('./Media/wood2.png'); /* Change to your file name if needed */
  background-repeat: repeat; /* Allows the image to tile if it's a small texture */
  background-color: #2c0d00; /* Fallback color (dark wood) */
  background-size: cover; /* Use 'cover' or 'auto' depending on your image */
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;

  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f69c36;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
